.signIn-page {
  background: linear-gradient(to top right, #2e65ff, #b1c1ff, #e6f1ff);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
}

.signIn-page > h1 {
  position: relative;
  top: 250px;
  font-size: 46px;
}

.signIn-page > button {
  position: relative;
  top: 300px;
  font-size: 32px;
  height: 50px;
  border-radius: 2rem;
  background: white;
  color: #000000;
  margin: 15px;
}

.header {
  width: 100%;
  background-color: #00fffb;
  height: 84px;
  text-align: center
}

.chat {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: #a8b1ca;
}

.messages {
  text-align: center;
  height: 75vh;
  width: 80vw;
  top: 5vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: 1px solid #000000;
  overflow-y: scroll;
  overflow-x: hidden;
}

.submit-bar {
  position: relative;
  top: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 840px;
  height: 100px;
  border: 1px solid #000000;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.content > h5 {
  font-size: 18px;
  margin: 0;
}

.received > .content > h5 {
  padding-left: 5px;
  text-align: start;
}

.sent > .content > h5 {
  text-align: end;
  padding-right: 5px;
}

.content > p {
  margin-top: 0;
}

.avatar {
  display: inline-block;
  transform: scale(3);
  margin: 0 24px;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

.message > img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 2rem;
  margin: 0 6px;
}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  left: 30%;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

form > button {
  width: 20%;
  background-color: rgb(56, 56, 143);
}


input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

.btn {
  background-color: #282c34; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}